/*=============================================================================================	
	style css decorated by : - 
==============================================================================================*/
 
body{
	padding:0px;
	margin:0px; 
	color: #474747;
    font-family: 'Roboto', sans-serif;
	font-size:14px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*bootstrap*/
@media (min-width: 1200px){
	.container {
		width: 1170px;  
	}
}
@media (min-width: 768px){
	.navbar-right { 
		margin-right: 0px;
	}
}
.navbar{
	
}
.navbar-default{
	background:transparent;
	border:1px solid transparent;
}


/*global*/
.scrolltotop{
    color: #fff;
    background: rgba(255,255,255,.15);
    position: fixed;
    z-index: 100000;
    right: 60px;
    bottom: 60px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 33px;
	display:none;
	opacity:0;
}
.marginauto{
	margin:auto !important;
	float:none;
}
.clear{
	clear:both;
}
.pd5{
	padding-left:5px !important;
	padding-right:5px !important;
}
.rw{
	margin-left:-5px;
	margin-right:-5px;
}
figure {
    margin: 0;
}
.price {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #399cd7;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    padding: 4px 8px;
}
p {
    margin: 0 0 10px;
}
.read-more {
    color: #399cd7;
    font-weight: bold;
	display:block;
}
.read-more:hover{
	color: #2a6496;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
	border-color: rgba(0, 0, 0, 0.06);
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"], input[type="date"], input[type="email"], input[type="search"], input[type="password"], input[type="number"], input[type="tel"], textarea.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    font-size: 14px;
    outline: none !important;
    padding: 10px 9px 9px;
    width: 100%;
    height: inherit;
    line-height: inherit;
}
.pagecontent{
    padding-bottom: 60px;
}
.breadcrumb {
    padding: 10px 0px 5px;
    list-style: none;
    background-color: #f5f5f5 transparent;
    border-radius: 4px;
    text-align: center;
}
.breadcrumb > li {
    display: inline-block;
} 
.breadcrumb > li a{
	-moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #474747;
}
.pagination {
    margin: 10px 0px;
	display: inline-block;
    padding-left: 0; 
    border-radius: 4px;
}
.pagination > li {
    display: inline; 
}
.pagination li.active a {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
    color: #8d8d8d;
}
.pagination li:first-child a, .pagination li:last-child a {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.pagination li a {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    color: #f9bb15;
    font-weight: bold;
    height: 40px;
    line-height: 36px;
    margin-left: 5px;
    text-align: center;
    padding: 0;
    width: 40px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 9px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	margin-left:3px;
}
.pagination li a.previous {
    margin-left: 10px;
}

/*button*/
.btn.btn-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #399cd7;
    background-color: #399cd7;
    color: #fff;
} 
.btn-block + .btn-block {
    margin-top: 10px;
}

 
/*header*/
.header_top{
    -moz-transition: 0.4s ease-in-out all;
    -webkit-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
    background-color: #fff;
    display: table;
    width: 100%;
    z-index: 999;
    position: relative; 
	height:65px;
	padding-top:12px;
	padding-bottom:10px;
}
.header_top.shadow{  
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.ht_left, .ht_right{
	height:65px;
}
.ht_left{ 
	float:left;
}
.ht_right{ 
	float:right;
}
.logo {
    max-width: 250px;
}
.header_top .tagline{
	color: #7f8c8c;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    display: inline-block;
    border-left: 1px solid #c2c2c2;
    padding-left: 12px;
    margin-left: 12px;
}
.ht_user_area{
	padding-top: 12px;
	display:block;  
}
.ht_user_area ul{
	list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 18px;
    text-align: center;
	display:block;
}
.ht_user_area ul li{
	display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;	
}
.ht_user_area ul li a{
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: #474747;	
	text-decoration:none;
}
.ht_user_area ul li a:hover{
	color:#428bca
}
.ht_user_area ul li a .fa{
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #399cd7;
    padding: 5px 6px;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center; 
} 
.ht_user_area ul li a .fa:hover{
	border-color: rgba(0, 0, 0, 0.2);
}

/*menu*/
.navigation_bar{
	padding-top: 25px;
	display:block; 
	width:100%;
}
.navigation_bar .navbar{
	padding:0px;
}
.navigation_bar .navbar-default .navbar-nav>li>a{ 
    border-bottom: 2px solid #ebebeb;
    float: left;
    margin-right: 35px;
    width: 115px;
    text-decoration: none;
    line-height: 21px;
    padding: 7px 0;
    cursor: pointer;
    text-align: center;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(1) a{
	border-top: 5px solid #03a9f4;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(1) a:hover{
	color:#03a9f4;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(2) a{
	border-top: 5px solid #f44336;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(2) a:hover{
	color:#f44336;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(3) a{
	border-top: 5px solid #fbc02d;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(3) a:hover{
	color:#fbc02d;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(4) a{
	border-top: 5px solid #673ab7;	
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(4) a:hover{
	color:#673ab7;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(5) a{
	border-top: 5px solid #cddc39;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(5) a:hover{
	color:#cddc39;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(6) a{
	border-top: 5px solid #33a851;
}
.navigation_bar .navbar-default .navbar-nav li:nth-child(6) a:hover{
	color: #33a851;
}
.navbar-default .navbar-nav>li>a{
    color: #474747;
    font-family: 'Roboto', sans-serif;	
}    
.navbar-default .navbar-nav>li>a .fa{
	margin-right: 7px;
}
.navigation_bar .navbar-default .navbar-nav.navbar-right li a{
	border:0px;
	height:42px;
	line-height:42px;
}
.navigation_bar .navbar-default .navbar-nav.navbar-right li a.btn{
    width: 215px;
    cursor: pointer;
    font-size: 20px;
    background-color: #03a9f4;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
    border: none;
    border-radius: 0px;
	margin-right:0px;
}
.navigation_bar .navbar-default .navbar-nav.navbar-right li a.btn:hover{
	background-color: #f44336;
}
.navigation_bar .navbar{
	margin-bottom:0px;
}


/*middle*/
.bg_content{
	background-color: #f4f4f2;
}
.section_search{
	height:510px;
	width:100%;
	display:block;
	position:relative;
}
.section_search h2{
    display: block;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #34495e;
    font-weight: 300;
    font-size: 39px;
    text-align: center;
}
.section_search .form-group .form-control{
    background-color: #fff;
    border: 1px solid #c2c2c2;
    font-size: 14px;
    outline: none !important;
    padding: 10px 9px 9px;
    width: 100%;
    height: inherit;
    line-height: inherit;
	border-radius:0px;
}
.section_search  .btn.btn-default{
	width:100%;
	border-radius:0px;
	height:41px;
    font-size: 17px;
	border-color:trasparent;
}
.section_search .input-group{
	width:100%;
}
.section_search .input-group .input-group-addon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    padding: 0px;
    width: 35px;
    display: table;
    bottom: 0px;
    z-index: 3;
    background-color: transparent;
}
.section_style h3{
	margin-top: 5px;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
	display:block;
}
.section_list_items{
	padding: 14px 0;
	padding-bottom:75px; 
	display:block;
	background:#F4F4F2;
}
 
.sl_item{
    width: 100%;
    display: block;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: block;
	cursor:pointer;
}
.sl_item .sl_item_img{ 
    color: #474747;
    background:url('../images/items/1.jpg') no-repeat center center;
	background-size: cover;
    padding: 30px;
	width:100%;
	height:195px;
	position:relative;
}

.sl_item.list .sl_item_img{
	width: 25% !important;
	float:left;
}
.sl_item.list .sl_item_detail{
	width: 75% !important;
	float:left;
	padding:30px;
	text-align:left;
}
.sl_item.list .sl_item_detail figure{
	text-align:left;
	margin-top: 10px;
    margin-bottom: 10px;
}
.pagecontent .sl_item.list{
	margin-bottom:30px;
}

.sl_item .icon_like,
.sl_item .icon_view{
	transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -khtml-transition: all 0.5s linear;
}
.sl_item .icon_like{
    height: 30px;
    position: absolute;
    right: 10px;
    top: -2px;
    width: 30px;
    text-align: center;
    z-index: 3000;
    color: #ffffff;
    line-height: 30px;
	opacity:0;
	visibility:hidden;
	text-decoration:none;
	transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
}
.sl_item .icon_like:hover{
	background-color: #399cd7;
}
.sl_item .icon_view{
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #399cd7;
    cursor: pointer;
    color: #fff;
    height: 30px;
    left: 0;
    width: 60px;
    position: absolute;
    top: 20px;
    z-index: 3000;	
	opacity:0;
	visibility:hidden;
	text-decoration:none;
}
.sl_item .icon_view i{
	text-align: right;
    font-size: 18px;
    line-height: 28px;
    margin-right: 10px;
    display: block;
	text-decoration:none; 
}
.sl_item  span.count_view {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s; 
    position: absolute;
    width: 100px;
    top: 0px;
    line-height: 30px;
    left: 60px;
    font-weight: bold;
    font-size: 12px;
	z-index:3000;
	opacity: 0;
	visibility:hidden;
    left: 70px;
	color:#fff;
}

.sl_item .content_overlay_bg{
	webkit-transition: height .5s ease-in;
    -moz-transition: height .5s ease-in;
    transition: height .5s ease-in;
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sl_item .content_overlay{ 
    background-color: #000;  
    position: absolute; 
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	opacity:0;
	z-index:1000;
	transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
	cursor:pointer;
}
.sl_item .content_overlay_inner{ 
    background-color: transparent; 
    padding: 30px;
    position: absolute; 
	left:0px;
	right:0px;
	top:0px;
	bottom:0px; 
	z-index:2000;
	margin:auto;
}
.sl_item .content_overlay_inner h5,
.sl_item .content_overlay_inner p{
	display:block;
	margin:0px;
	padding:0px;
	color:#fff;
	position:relative;
	transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
}
.sl_item .content_overlay_inner h5{
    font-size: 10px;
    font-weight: bold;
	margin-top:30px;
    margin-bottom: 17px;
    text-transform: uppercase;
	left:30px;
	opacity:0;
}
.sl_item .content_overlay_inner p{
	font-size: 12px;
	left:15px;
	opacity:0;
}
.sl_item:hover > .sl_item_img .content_overlay{
	opacity:0.7;
	
}
.sl_item:hover > .sl_item_img .content_overlay_inner h5,
.sl_item:hover > .sl_item_img .content_overlay_inner p{
	left:0px;
	opacity:1;
}
.sl_item:hover > .sl_item_img .icon_view,
.sl_item:hover > .sl_item_img .icon_like{
	opacity:1;
	visibility:visible;
}
.sl_item .sl_item_img .icon_view:hover > span.count_view{
	opacity:1;
	visibility:visible; 
}
.sl_item_img .time_label{
	height:45px;
	width:100%;
	display:block;
	position:absolute;
	z-index:2000;
	bottom:0px;
	left:0px;
	right:0px;
	-moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	font-weight: bold;
	color: #fff; 
    text-align: center;
	line-height:45px;
}
.sl_item_detail{
	display:block;
	width:100%;
	padding: 20px 20px 10px; 
    text-align: center;
}
.sl_item_detail a{
	text-decoration:none;
}
.sl_item_detail h3{
	font-family: 'Roboto', sans-serif;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: capitalize;
    color: #474747;
	text-decoration:none;
}
.sl_item_detail figure {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    font-size: 12px;
	color: #474747;
	text-align:center;
}
  
.sl_item_detail .info {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding-top: 5px;
}
.sl_item_detail .info .type span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}
 
.sl_item_detail .wrapper .info:after {
    background-color: rgba(0, 0, 0, 0.08);
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
}
.sl_item_detail .info .type i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    display: inline-block;
}
.sl_item_detail .info .type i img {
    width: 20px;
}

/*section populer*/
.section_populer{
    padding-bottom: 0px;
    padding-top: 0px;
    display: block;
    background-color: #fff;
    color: #474747;
    padding: 14px 0;
}
.owl-controls.clickable{
	display:none !important;
}
.section_populer_slide{
	margin:20px 0px;
	margin-bottom:50px;
	position:relative;
}
.section_populer_slide .nav_left_populer,
.section_populer_slide .nav_right_populer{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;	
	position:absolute;
	z-index:3000;
	cursor:pointer;
	background:#fff;
}
.section_populer_slide .nav_left_populer:hover,
.section_populer_slide .nav_right_populer:hover{
    border-color: #399cd7;
}
.section_populer_slide .nav_left_populer:after,
.section_populer_slide .nav_right_populer:after{
	text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #399cd7;
    font-size: 16px;
    height: 16px;
    top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 4px;
	text-align:center;
}
.section_populer_slide .nav_left_populer{
	left:15px;
	top:0px;
	bottom:0px;
	margin:auto;
}
.section_populer_slide .nav_left_populer:after{
	content: "\f104"; 
}
.section_populer_slide .nav_right_populer{
	right:15px;
	top:0px;
	bottom:0px;
	margin:auto;
}
.section_populer_slide .nav_right_populer:after{
	content: "\f105"; 
}
.section_populer_slide .owl-populer,
.section_populer_slide .owl-populer .item{
	width:100%;
	display:block;
}
.owl-wrapper-outer .owl-item{
	padding: 0px 60px;
} 

.section_populer a{
	color: #474747;
	text-decoration:none;
}
.section_populer h4 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
	display:inline-block;
}
.section_populer figure i {
    color: #8d8d8d;
    margin-bottom: 15px;
}
.section_populer .row_btn{
	display:block;
	width:100%; 
}
.section_populer .row_btn .type img {
    display: inline-block;
    width: 20px;
}
.section_populer .row_btn .type span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    font-size: 12px;
	margin-top: 5px;
}
.section_populer p {
    padding: 10px 0;
}
.section_populer .wrap_r {
    margin-top:10px;
}
.section_populer .wrap_r .row_btn.rb_head .type i {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center;
    color: #428bca;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
}
.section_populer .wrap_r .row_btn.rb_head .type i:hover{
	border: 2px solid #428bca;
    background-color: #428bca;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
    margin-left: 5px;
    text-align: center;
    color: #ffffff;
}

/*section_whyus*/
.section_whyus{
    padding-bottom: 0px;
    padding-top: 0px;
    display: block;
    background-color: #F4F4F2;
    color: #474747;
    padding: 14px 0; 
}
.section_whyus .feature-box {
    display: table;
    width: 100%;
    margin: 20px 0;
}
.section_whyus .feature-box i {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 28px;
    float: left;
    height: 70px;
    line-height: 65px;
    text-align: center;
    width: 70px;
	transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
}
.section_whyus .feature-box .description {
    margin-left: 100px;
}
.section_whyus .feature-box .description h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}
.section_populerhariini{ 
    display: block;
    background-color: #F4F4F2;
    color: #474747;
    padding: 14px 0;
    padding-bottom: 75px;
}
.section_populerhariini .sl_item{
	margin-bottom:60px; 
    display: block;
}
.red {
    color: #da4334;
}
.red:hover {
    color: #ffffff;
    background-color: #da4334;
    border: none;
}
.green {
    color: #33a851;
}
.green:hover {
    color: #ffffff;
    background-color: #33a851;
    border: none;
}
.blue {
    color: #399cd7;
}
.blue:hover {
    color: #ffffff;
    background-color: #399cd7;
    border: none;
}

.iklanpremium .item-horizontal {
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: inherit;
    background-color: #fff;
    display: table;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.iklanpremium .item-horizontal.small {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.05);
    padding: 15px 15px 10px 15px;
}
.iklanpremium .item-horizontal.small:hover{
	background:#fff;
	text-decoration:none;
}
.iklanpremium .icon{
    color: #8D8D8C;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.iklanpremium .icon:hover{
    color: #ffffff;
    background-color: #399cd7;
}

.iklanpremium .item-horizontal.small .icon {
    height: 30px;
    position: absolute;
    right: 10px;
    top: -1px;
    width: 30px;
    text-align: center;
    z-index: 2;
}
.iklanpremium .item-horizontal.small .icon i {
    line-height: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.iklanpremium .item-horizontal.small h3 {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: bold;
	font-size: 14px;
}
.iklanpremium .item-horizontal.small figure {
    font-size: 12px;
    color: #474747;
} 
.iklanpremium .item-horizontal.small .wrapper {
    display: block;
    margin-top: 10px;
    padding: 0;
	width: 100%;
    vertical-align: middle;
}
.iklanpremium .item-horizontal.small .image {
    margin-right: 10px;
    width: 80px;
    overflow: hidden;
	float: left;
    position: relative;
}
.iklanpremium .item-horizontal .image > img {
    -moz-transition: all 0.4s cubic-bezier(0.42, 0, 0.06, 0.99) 0s;
    -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.06, 0.99);
    -webkit-transition-delay: 0s;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.06, 0.99) 0s;
    -moz-transform: scale(1.002);
    -ms-transform: scale(1.002);
    -webkit-transform: scale(1.002);
    transform: scale(1.002);
    width: 100%;
}
.iklanpremium .item-horizontal.small .wrapper .info {
    border: none;
    margin: 0;
    padding-top: 0px;
    position: relative;
	display:block;
}
.iklanpremium .item-horizontal.small .wrapper .info .price {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #399cd7;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    padding: 4px 8px;
}
.iklanpremium .item-horizontal .wrapper .info .type i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    display: inline-block;
}
.iklanpremium .item-horizontal .wrapper .info .type i img {
    width: 20px;
}
.iklanpremium .item-horizontal .wrapper .info .type span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    color: #474747;
}
.section_populerhariini hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

/*pasangiklan*/
.main_search_bar{
	padding: 10px 0 10px 0;
}
.main_search_bar .selectpicker,
.main_search_bar .btn-group.bootstrap-select,
.main_search_bar .form-group .form-control{
	display:block;
	width:100% !important;	
}
.main_search_bar .form-group .input-group-btn,
.main_search_bar .form-group .form-control.bordershadow{
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #8d8d8d;
    font-weight: normal;
}
 
.main_search_bar .form-group .input-group{
	width:100% !important; 
}
.main_search_bar .form-group .input-group .input-group-btn button{
	width:100% !important; 
}
 
.main_search_bar .input-group-btn button.btn.btn-default{
	background:#fff;
	border: 1px solid transparent;
	height:39px;
}
.main_search_bar .input-group-btn button.btn.btn-default i{
	color: #555;
}
.main_search_bar .bootstrap-select button{
	height:39px; 
} 
.main_search_bar .bs-searchbox .form-control {
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: none;
	outline:none;
}
.btn-group.bootstrap-select button.btn.btn-default{ 
	border:1px solid #fff;
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #8d8d8d;
    font-weight: normal;
	outline:none;
}
.pagestyle header {
    margin-bottom: 10px;
}
.pagestyle header .page-title {
    padding: 10px 0px;
    margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	text-transform:uppercase;
}
form.pasangiklan .form-group.large input {
    font-size: 15px;
    padding: 10px 12px;
} 
form.pasangiklan .btn-group.bootstrap-select button.btn.btn-default{
	font-size: 15px;
    padding: 9px 12px;
}
form.pasangiklan .form-group textarea.form-control{
	height:70px;
	width:100%;
	display:block;
	resize:none !important;
}
.pagestyle form.pasangiklan .btn-group.bootstrap-select.form-control{
	height:41px;
}
.dropzone {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    min-height: 130px;
    padding: 20px;
}
.dropzone input[type="file"] {
    display: none;
}
.dropzone .dz-default.dz-message {
    display: table;
}
.dropzone .dz-default.dz-message span {
    color: #ff513f;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.informasi_pemasang{
	display:block;
}
.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details{
	width:100%;
	height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding: 0px;
    text-align: center;
}
.dropzone .dz-image,
.dropzone .dz-image img{
	width: 100%;
    
}
.informasi_pemasang h3{
	display:block;
	margin:0px;
	padding:0px;
	font-size: 15px;
    margin-bottom: 20px;
	font-weight: 700;
}
.informasi_pemasang h3 i{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fieldsmap input.geocomplete{
	width:90%;
	float:left;
}
.fieldsmap button.find{
	width:10%;
	float:left;
	height:41px;
} 

/*signin*/
.signinsection{
	display:block;
	margin-top:40px;
}
.signinsection header {
    margin-bottom: 10px;
}
.signinsection header .page-title {
    padding: 10px 0px;
    margin-bottom: 0;
}
.signinsection header h1.page-title{ 
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}

.signinsection hr {
    margin-top: 10px;
    margin-bottom: 5px;
    border-color: rgba(0, 0, 0, 0.06);
}
.signinsection form .form-group {
    margin-bottom: 10px;
}
.signinsection input[type="radio"], .signinsection input[type="checkbox"] {
    margin: 4px 5px 0;
    margin-top: 1px \9;
    line-height: normal;
}
.signinsection .lupa-pass {
    display: block; 
    font-size: 14px;
}
.signinsection label {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.signinsection .border {
    float: left;
    position: relative;
    padding-top: 5%;
}
.social-login{
	margin-top:30px;
}
.signinsection .pt_register{
    font-size: 12px;
    float: right;
    margin-top: 5px;
    text-transform: inherit !important;
}

/*signup*/
.signupsection{
	display:block;
	margin-top:40px;
}
.signupsection{
	display:block;
	margin-top:40px;
}
.signupsection header {
    margin-bottom: 10px;
}
.signupsection header .page-title {
    padding: 10px 0px;
    margin-bottom: 0;
}
.signupsection header h1.page-title{ 
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}
.signupsection hr {
    margin-top: 10px;
    margin-bottom: 5px;
    border-color: rgba(0, 0, 0, 0.06);
}
.signupsection form .form-group {
    margin-bottom: 10px;
}
.signupsection input[type="radio"], .signupsection input[type="checkbox"] {
    margin: 4px 5px 0;
    margin-top: 1px \9;
    line-height: normal;
}
.signupsection label {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.signupsection .checkbox label {
	padding-left:0px;
}

/*listings grid*/
.pagecontent .filter {
    margin-bottom: 10px;
    margin-top: 10px;
}
.pagecontent .filter .btn.active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}
.pagecontent .filter .btn.active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}
.pagecontent .filter .btn.icon i {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    margin-left: 0px !important;
}
.pagecontent aside{
	display:block;
}
.pagecontent .filter .sorting > span {
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
}
.pagecontent .filter .sorting .form-group {
    display: inline-block;
    min-width: 200px;
    margin-bottom: 0;
    margin-right: 5px;
}
.pagecontent .btn.framed, .pagecontent select.framed {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.06);
    color: #474747;
}
.pagecontent .bootstrap-select {
    width: 100% !important;
    margin-bottom: 0 !important;
}
.bootstrap-select.framed .selectpicker {
    background-color: transparent;
} 
.pagecontent .bootstrap-select .selectpicker {
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #8d8d8d;
    font-weight: normal;
}
.btn.btn-default, select.btn-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #f9bb15;
    color: #fff;
	border:1px solid #f9bb15;
}
.pagecontent .btn-group > .btn:first-child {
    margin-left: 0;
}
.pagecontent .bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    float: left;
    text-align: left;
}
.pagecontent .bootstrap-select .selectpicker .filter-option:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #f9bb15;
    content: "\f00c";
    font-size: 14px;
    position: absolute;
    left: 0px;
    top: 2px;
}
.pagecontent .bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}
.pagecontent .bootstrap-select .selectpicker .caret {
    border: none;
}
.pagecontent .btn .caret {
    margin-left: 0;
}
.pagecontent .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.pagecontent .bootstrap-select .selectpicker .caret:after {
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #474747;
    content: "\f107";
    font-size: 19px;
    position: absolute;
    top: -7px;
    right: -2px;
}
.pagecontent .sl_item{
	margin-bottom:60px;
}

/*map grid*/
.gridmaps .maps_area{
	background:pink;
	height:500px;
	display:block;
	width:100%;
}

/*footer*/
#page-footer { 
    background-color: #fff;
    border-top: 2px solid #f4f4f2;
    height: 1px; 
    position: relative;
}
#page-footer .inner {
    padding-top: 60px;
}
section {
    position: relative;
}
#page-footer .read-more {
    color: #399cd7;
    font-weight: bold;
}
.footer_section section h2{
	font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.footer_section section .social-button {
    display: block;
    margin-bottom: 10px;
}
.footer_section section .social-button i {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 27px;
    width: 30px;
    position: relative;
    top: -2px;
}
.twitter {
    color: #00aced;
    border: 2px solid #00aced;
}
.fb {
    color: #3b5998;
    border: 2px solid #3b5998;
}
.gplus {
    color: #d34836;
    border: 2px solid #d34836;
}
.footer_section section .small {
    font-size: 85%;
}
.footer_section section h3 {
    font-size: 15px;
    margin-bottom: 20px;
}
.footer_section section h2 {
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_section section address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
#page-footer .inner address figure {
    margin-top: 20px;
}
address .info {
    line-height: 25px;
}
address .info i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    width: 20px;
}
address .info {
    line-height: 25px;
}
.btn.framed, select.framed {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.06);
    color: #474747;
}
.btn, select {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background-color: #f4f4f2;
    border: none;
    color: #474747;
    font-size: 14px;
    font-weight: bold;
    outline: none !important;
    padding: 10px 11px 9px 11px;
    width: auto;
}
.btn.framed i, select.framed i {
    color: #399cd7;
}
.btn.icon i, select.icon i {
    color: #fff;
    margin-left: 10px;
}

#page-footer .inner {
    padding-top: 60px;
}
#page-footer .inner .footer-bottom {
    border-bottom: 2px solid #399cd7;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    padding: 30px;
}
#page-footer .inner .footer-bottom .left {
    float: left;
    line-height: 30px;
}
#page-footer .inner .footer-bottom .right {
    float: right;
}
#page-footer .inner .footer-bottom .to-top {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #399cd7;
    display: block;
    font-size: 18px;
    height: 30px;
    line-height: 22px;
    position: relative;
    text-align: center;
    width: 30px;
}
#page-footer .inner .footer-bottom .to-top i {
    color: #399cd7;
    left: 0px;
    position: relative;
}
#page-footer .inner .footer-bottom {
    border-bottom: 2px solid #399cd7;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    padding: 30px;
}
#page-footer .inner .footer-bottom .left {
    float: left;
    line-height: 30px;
}
#page-footer .inner .footer-bottom .right {
    float: right;
}
#page-footer .inner .footer-bottom .to-top {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #399cd7;
    display: block;
    font-size: 18px;
    height: 30px;
    line-height: 22px;
    position: relative;
    text-align: center;
    width: 30px;
}
#page-footer .inner .footer-bottom .to-top i {
    color: #399cd7;
    left: 0px;
    position: relative;
}
 